body {
    width: 95%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: #4e80bc solid 3px;
    padding: 10px 20px;
}

h1 {
    background-image: url(../Images/header.jpg);
    color: white;
    padding: 3px 40px 45px 3px;
    margin: 0;
}

nav {
    margin-top: 0;
    background-color: #434343;
}

nav > a {
    color: #54fd90;
    text-decoration: none;
    font-family: Arial, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    padding: 7px 7px 20px;
}

article {
    background-color: #ececec;
    margin: 5px 0;
}

article h2 {
    margin: 0;
    padding: 30px 0;
    text-decoration: underline;
    color: #434343;
}

p, article > footer > a {
    margin-top: 0;
    padding-left: 7px;
}