body {
    background-color: #242e40;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    border: lightslategray 2px solid;
    border-radius: 45px;
    padding-left: 10px;
    background-color: #010f32;
    margin: 7px;
}

header a:hover {
    color: #768798;
}

h1 {
    text-align: left;
    color: white;
    padding: 2px;
    margin-top: 10px;
    display: inline-block;
    font-size: 20px;
}

nav {
    display: block;
    text-align: left;
    padding: 15px;
}

main {
    margin: 10px;
    padding: 5px;
    background-color: lightslategray;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #010f32;
}

h2 {
    color: #e4e4e4;
}

a {
    color: #ffffff;
}

a:hover {
    color: #000000;
}

p {
    color: #d1d1d1;
}

#Donald {
    float: right;
    display: inline-block;
}


footer {
    text-align: right;
    font-size: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    left: 0;
    z-index: 10;
}

footer a:hover {
    color: #ca1717;
}

table, th, td {
    border:1px solid black;
}

.home a {
    text-decoration: none;
}

.home a:hover {
    text-decoration: none;
    color: #d89a54;
}

nav a {
    text-decoration: none;
}

.home li {
    list-style-type: none;
}

.home section:hover {
    background: linear-gradient(90deg, rgb(1, 15, 50) 0%, rgb(14, 49, 71) 50%, rgb(36, 46, 63) 100%);
}

.home section {
    padding: 2px 20px;
    margin: 10px;
    border: 3px solid #d69953;
    border-radius: 10px;
    background-color: #242e3f;
}

.home h2 {
    color: #d89a54;
}
.home {
    display: grid;
    grid-template-columns: 33% 33% 33%;

}