body, p {
    font-family: Verdana, sans-serif;
    background-color: silver;
    color: darkblue;
}

h1{
    font-variant: small-caps;
    background-color: red;
}

a:hover {
    border: black solid 1px;
}

.stippeltjesrand {
    border: black dotted 1px;
}

header > h1 {
    background-color: #010f32;
}