/* items */

body > div {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
}

div div {
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/* specific item styles */
.item-1 {
    background: #b03532;
}
.item-2 {
    grid-column: 2/4;
    background: #33a8a5;
}
.item-3 {
    background: #30997a;
}
.item-4 {
    background: #6a478f;
}
.item-5 {
    grid-column: 2/4;
    background: #da6f2b;
}
.item-6 {
    background: #3d8bb1;
}
.item-7 {
    background: #e03f3f;
}
.item-8 {
    grid-column: 2/4;
    background: #59a627;
}
.item-9 {
    background: #4464a1;
}


@media (max-width: 760px) {
    body > div {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(5, auto);
    }

    .item-1 {
        grid-column: 1/4;
        grid-row-start: 5;
        background: #b03532;
    }
    .item-2 {
        grid-row-start: 1;
        grid-column-start: 2;
        background: #33a8a5;
    }
    .item-3 {
        grid-column: 1/4;
        grid-row-start: 4;
        background: #30997a;
    }
    .item-4 {
        grid-row-start: 2;
        grid-column-start: 1;
        background: #6a478f;
    }
    .item-5 {
        grid-row-start: 2;
        background: #da6f2b;
    }
    .item-6 {
        grid-column: 1/4;
        grid-row-start: 6;
        background: #3d8bb1;
    }
    .item-7 {
        grid-row-start: 3;
        background: #e03f3f;
    }
    .item-8 {
        grid-row-start: 3;
        background: #59a627;
    }
    .item-9 {
        grid-row-start: 1;
        background: #4464a1;
    }

}