#playField {
    width: 600px;
    height: 800px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

#target {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}