body {
    width: 95%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 300%;
    font-style: italic;
    font-weight: bold;
    background-image: url("../images/clouds.jpg");
    color: #000086;
    padding-bottom: 20px;
    text-align: center;

    position: relative;
    overflow: hidden;
}

header img {
    position: absolute;
    top: 50%;
    right: 40px;     /* distance from right side */
    transform: translateY(-50%);

    height: 80%;      /* scale image */
    width: auto;

    object-fit: contain;
    z-index: 1;
    pointer-events: none;
}

header p {
    position: relative;
    z-index: 2;
}

main section {
    margin-left: 20%;
}

main > div > img {
    float: left;
    margin: 20px;
}

aside {
    float: right;
    width: 25%;
    text-align: center;
    background-color: #dbdbdb;
}

aside h3 {
    background-color: #0000fc;
    color: white;
    font-size: 120%;
}

aside p {
    font-size: 90%;
    padding: 10px;
    color: #666666;
}

figure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #989898;
    gap: 20px;
    padding: 10px;
    margin: 0;
}

figure div img {
    background: white;
    padding: 10px;
    border: 1px dashed #999999;
    width: 180px;
    height: 180px;
    box-sizing: border-box;
}

.foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
}

footer {
    background-color: #656565;
    color: white;
    margin-top: 0;
}

#kolom {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
}

footer nav ul {
    margin: 0;
    padding: 20px;
}

div {
    text-align: center;
}

