html {
    background-color: #333;
    font-family: helvetica;
}

body {
    margin: 6px 8px;
    background-color: #c9c9c9;
    border: solid white 5px;
    padding:0;
}

header {
    background-color: #dba900;
    text-align: center;
    padding: 3px;
    color: white;
}

nav > a {
    border: black solid 1px;
    text-decoration: none;
    background-color: #fdfdfd;
    color: #b6b147;
    padding: 5px 15px;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px;
}

nav {
    background-color: #cbcbcb;
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

main {
    background-color: #7f7f7f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

main > div {
    border: #f9fcfd 5px solid;
    margin: 5px 20px;
    background-color: white;
    width: 100%;
    align-items: center;
}

main > div > img {
    width: 100%;
}

main > div > a {
    text-decoration: none;
    border: black solid 1px;
    background-color: #f7fafb;
    color: black;
    padding: 5px 15px;
    display: block;
    text-align: center;
}

footer {
    margin: 0;
    background-color: #dba900;
    color: white;
    padding: 20px 20px;
    text-align: center;
}

@media (min-width: 700px) {
    main {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
