.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows:auto auto auto;
    grid-gap: 10px;
    padding: 30px;
    text-align: center;
}

.container .block{
    background-color: white;
    display: inline-grid;
    height: 40px;
}

@media (min-width: 700px) {
    .block.block1{

    }
    .block.block2{
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .block.block3{
        grid-column-start: 3;
        grid-row-start: 3;
    }
    .block.block4{
        grid-column-start: 4;
        grid-row-start: 2;
    }
    .block.block5{
        grid-column-start: 5;
        grid-row-start: 1;
    }
    .block.block6{
        grid-column-start: 1;
        grid-row-start: 5;
    }
    .block.block7{
        grid-column-start: 2;
        grid-row-start: 4;
    }
    .block.block8{
        grid-column-start: 4;
        grid-row-start: 4;
    }
    .block.block9{
        grid-column-start: 5;
        grid-row-start: 5;
    }
}