.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #b53669;
 }
.block.block2{
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: #716da5;
}
.block.block3{
    background-color: #7c8cc0;
}
.block.block4{
    background-color: #a0d0d8;
}
.block.block5{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #c191ce;
}
.block.block6{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #b53669;
}
.block.block7{
    background-color: #716da5;
}
.block.block8{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #7c8cc0;
}
